<div class="main">
    <div class="header_div">
        <div class="cancel" (click)="close()">
            <img src="./assets/cancel.svg" />
        </div>
        <div class="header">Welcome to Dir Server..!!</div>
        <div class="border"></div>
    </div>
    <div class="path">
        <h3 *ngIf="ss.GlobalDirPath">
            Server Dir Path:- {{ss.GlobalDirPath}}
        </h3>
        <div class="border"></div>
    </div>
    <div class="body">
        <div class="start_server" *ngIf="ss.ServerStarted === false">
            <h1>Please Start The Server</h1>
            <img src="./assets/server-ixo.svg">
            <button (click)="start()">Start</button>
        </div>
        <div class="client_list" *ngIf="ss.ServerStarted === true">
            <h3>Connected Clients</h3>
            <div class="list">
                <div class="card" *ngFor="let a of array">
                    <img src="./assets/customer.svg">
                    <span>Name:{{a}}</span>
                    <button (click)="ss.RemoveUser(a)">Disconnect</button>
                </div>
            </div>
        </div>
        <div class="commands">
            <h4>Activity</h4>
            <div class="c">
                <span *ngFor="let c of commandArray|reverse">{{c}}</span>
            </div>
        </div>
    </div>
</div>