.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 10px;
  .header_div {
    flex: 1;
    .header {
      font-size: 26px;
      display: flex;
      justify-content: center;
      font-weight: 600;
      border: 1px solid;
      letter-spacing: 2.5px;
      box-shadow: 5px 10px #888888;
      margin: 0px 50px 0px 50px;
    }
  }
  .path {
    flex: 1;
    text-align: center;
  }
  .body {
    flex: 9;
    display: flex;
    flex-direction: column;
    .start_server{
      display: flex;
      width: 100%;
      height: 100%;
      align-content: center;;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      img{
        width: 100px;
      }
      button{
        width: 100px;
        height: 30px;
        font-size: medium;
      }
    }
    .client_list{
      flex:9;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      .list{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: 100%;
        .card{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          height: 200px;
          width: 200px;
          margin: 10px;
          img{
            height: 100px;
            border: 1px solid;
            padding: 5px;
          }
          span{
            margin-top: 5px;
          }
          button{
            margin-top: 5px;
            width: 100px;
          }
        }
      }
    }
    .commands{
      flex: 3;
      border-top: 1px solid;
      h4{
        text-align: center;
      }
      .c{
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.border {
  width: 100%;
  border: 1px solid #000;
  margin-top: 15px;
}
.cancel {
  transform-style: preserve-3d;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 1px;
  right: 5px;
  transition: all 0.5s ease;
  &:hover {
    cursor: pointer;
    z-index: 5;
    width: 50px;
    height: 50px;
  }
  img {
    height: inherit;
    width: inherit;
  }
}
