<div class="main">
  <div class="main_lab2" *ngIf="socketservice.conntected">
    <div class="header_div">
      <div class="cancel" (click)="close()">
        <img src="./assets/cancel.svg" />
      </div>
      <div class="header">
        Welcome to Dir Server {{ socketservice.name }}..!!
      </div>
      <div class="border"></div>
    </div>
    <div class="path_container">
      <div class="refresh" (click)="socketservice.GetAndUpdateArray()">
        <span>Refresh List:</span>
        <img src="./assets/refresh.svg" />
      </div>
      <div style="display: inline-block">
        <span>Path:</span>
      </div>
      <div class="path_list">
        <span class="path_name"> / </span>
        <span class="next">></span>
        <span *ngFor="let path of socketservice.patharray; let i = index">
          <span class="path_name">
            {{ path }}
          </span>
          <span class="next">></span>
        </span>
      </div>
    </div>
        <div class="choice_buttons">
          <div class="but" (click)="syncServer = true" [class.selected]="syncServer">Sync Server</div>
          <div class="but" (click)="syncServer = false" [class.selected]="!syncServer" >Dir Server</div>
        </div>
    <div class="folder_container" [hidden]="syncServer === false">
      <div class="dir_list">
        <div class="no_dir" *ngIf="dirArray.length === 0">
          <img src="./assets/folder-svgrepo-com.svg" />
          <span>No Dir Found</span>
        </div>
        <div
          class="dir"
          [class.select]="selected === d"
          (click)="singleClick(d)"
          *ngFor="let d of dirArray"
        >
          <div class="img_dir">
            <img src="./assets/folder-svgrepo-com.svg" />
          </div>
          <span class="sync" *ngIf="watchDirArray.indexOf(d) > -1"
            ><img src="./assets/sync.svg"
          /></span>
          <div class="name">
            {{ d }}
          </div>
        </div>
      </div>
      <div class="commands">
        <h3>Commands To Perform</h3>
        <div class="commands_list" *ngIf="show">
          <span
            *ngIf="watchDirArray.indexOf(selected) > -1"
            (click)="RemoveFromSync(selected)"
            >Click here To desync</span
          >
          <span
            *ngIf="watchDirArray.indexOf(selected) === -1"
            (click)="AddYoSync(selected)"
            >Click here To Sync</span
          >
          <!-- <span (click)="CreateDir()">F1. Create Dir</span>
          <span (click)="Rename()">F2 Rename Dir</span>
          <span (click)="Move()" [hidden]="movePath !== ''">F3. Move Dir</span>
          <span (click)="Move()" [hidden]="movePath === ''">F3. Move Here</span>
          <span (click)="Delete()">F4. Delete Dir</span>
          <span (click)="socketservice.GetAndUpdateArray()">F5. Fetch Dir</span>
          <span [hidden]="movePath === ''" (click)="movePath = ''"
            >F6. Clear Move select</span
          > -->
        </div>
        <div class="commands_message" *ngIf="!show">
          <span>Please,Select Any Dir First..!!</span>
        </div>
      </div>
    </div>
    <div class="folder_container" [hidden]="syncServer === true">
      <div class="dir_list">
        <div class="no_dir" *ngIf="dirArray.length === 0">
          <img src="./assets/folder-svgrepo-com.svg" />
          <span>No Dir Found</span>
        </div>
        <div
          class="dir"
          [class.select]="selected === d"
          (dblclick)="doubleselectDir(d)"
          (click)="singleClick(d)"
          *ngFor="let d of dirArray"
        >
          <div class="img_dir">
            <img src="./assets/folder-svgrepo-com.svg" />
          </div>
          <div class="name">
            {{ d }}
          </div>
        </div>
      </div>
      <div class="commands">
        <h3>Commands To Perform</h3>
        <div class="commands_list">
          <span (click)="CreateDir()">F1. Create Dir</span>
          <span (click)="Rename()">F2 Rename Dir</span>
          <span (click)="Move()" [hidden]="movePath !== ''">F3. Move Dir</span>
          <span (click)="Move()" [hidden]="movePath === ''">F3. Move Here</span>
          <span (click)="Delete()">F4. Delete Dir</span>
          <span (click)="socketservice.GetAndUpdateArray()">F5. Fetch Dir</span>
          <span [hidden]="movePath === ''" (click)="movePath = ''"
            >F6. Clear Move select</span
          >
        </div>
        <div class="move_path" [hidden]="movePath === ''">
          selected dir path:- /{{ movePath }}
        </div>
      </div>
    </div>
  </div>
</div>
 
